<div class="inner-wraper login-ppd">
  <section class="abg-form-sect">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <form [formGroup]="formData" (ngSubmit)="submit(formData.value)">
            <h1>{{ global.termsArray["lbl_Reset_Password"] }}</h1>
            <div class="form-group pb-4">
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                [placeholder]="global.termsArray['lbl_password']"
                formControlName="password"
              />
              <div
                *ngIf="
                  formData.controls['password'].invalid &&
                  (formData.controls['password'].dirty ||
                    formData.controls['password'].touched ||
                    this.formSubmitAttempt)
                "
              >
                <div
                  *ngIf="formData.controls['password'].errors.required"
                  style="color: red;"
                >
                  {{ global.termsArray["err_enter_password"] }}
                </div>
                <div
                  *ngIf="formData.controls['password'].errors.minlength"
                  style="color: red;"
                >
                  {{ global.termsArray["err_pass_length"] }}
                </div>
                <div
                  *ngIf="formData.controls['password'].errors.maxlength"
                  style="color: red;"
                >
                  {{ global.termsArray["err_pass_length"] }}
                </div>
              </div>
              <!-- <div
                *ngIf="
                  formData.errors &&
                  formData.errors.passwordsNotEqual &&
                  formData.controls['copassword'].touched &&
                  formData.controls['password'].touched &&
                  formData.controls['password'].errors == null
                "
                style="color: red;"
              >
                Your password & confirm password must be same
              </div> -->
            </div>
            <div class="form-group pb-4">
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                [placeholder]="global.termsArray['lbl_ConfirmPass']"
                formControlName="copassword"
              />
              <div
                *ngIf="
                  !formData.controls['password'].untouched ||
                  this.formSubmitAttempt ||
                  !formData.controls['copassword'].untouched
                "
              >
                <div
                  *ngIf="
                    formData.controls['copassword'].errors &&
                    formData.controls['copassword'].errors.required
                  "
                  style="color: red;"
                >
                  {{ global.termsArray["err_enter_confirmPassword"] }}
                </div>
                <!-- <div
                  *ngIf="formData.controls['copassword'].errors.minlength"
                  style="color: red;"
                >
                  confirm password with less than 6 characters.
                </div> -->
                <!-- <div
                  *ngIf="formData.controls['copassword'].errors.maxlength"
                  style="color: red;"
                >
                  confirm password with more than 24 characters.
                </div> -->
              </div>
              <div
                *ngIf="
                  !(
                    formData.controls['copassword'].errors &&
                    formData.controls['copassword'].errors.required
                  ) &&
                  formData.errors &&
                  formData.errors != null &&
                  formData.errors.passwordsNotEqual
                "
                style="color: red;"
              >
                {{ global.termsArray["err_password_not_match"] }}
              </div>
            </div>
            <button type="submit" class="btn btn-primary mb-3">
              {{ global.termsArray["lbl_Submit"] }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
