<div class="inner-wraper login-ppd">
  <section class="abg-form-sect">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <form [formGroup]="formData" (ngSubmit)="login(formData.value)">
            <h1>{{ global.termsArray["lbl_login"] }}</h1>
            <div class="form-group pb-3">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                formControlName="email"
                [placeholder]="global.termsArray['lbl_email_address']"
              />
              <div
                *ngIf="
                  formData.controls['email'].invalid &&
                  (formData.controls['email'].dirty ||
                    formData.controls['email'].touched ||
                    this.formSubmitAttempt)
                "
              >
                <div
                  *ngIf="formData.controls['email'].errors.required"
                  style="color: red;"
                >
                  {{ global.termsArray["msg_enter_email"] }}
                </div>
              </div>
            </div>
            <div class="form-group pb-3">
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                formControlName="password"
                [placeholder]="global.termsArray['lbl_password']"
              />
              <div
                *ngIf="
                  formData.controls['password'].invalid &&
                  (formData.controls['password'].dirty ||
                    formData.controls['password'].touched ||
                    this.formSubmitAttempt)
                "
              >
                <div
                  *ngIf="formData.controls['password'].errors.required"
                  style="color: red;"
                >
                  {{ global.termsArray["err_enter_password"] }}
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mb-3">
              {{ global.termsArray["lbl_login"] }}
            </button>
          </form>
          <div
            style="display: flex;flex-direction:column;align-items:stretch;justify-content:space-between"
          >
            <a [routerLink]="['/forgot']" routerLinkActive="active">{{
              global.termsArray["lbl_forgot_password"]
            }}</a>
            <a [routerLink]="['/register']" routerLinkActive="active">{{
              global.termsArray["lbl_donot_have_account"]
            }}</a>
          </div>
        </div>
        <div class="col-md-7 d-flex align-items-center">
          <div class="sing-bttn">
            <h6>{{ global.termsArray["lbl_sign_with_social_networks"] }}</h6>
            <span>
              <a class="btn" (click)="socialSignIn()"
                ><i class="fab fa-google"></i
                >{{ global.termsArray["lbl_signup_with_google"] }}</a
              >
              <a class="btn" (click)="facebookLogin()"
                ><i class="fab fa-facebook-f"></i
                >{{ global.termsArray["lbl_signup_with_facebook"] }}</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
