.authorDiv span {
  font-weight: bold;
}

.authorDiv {
  margin-top: 10px;
  font-size: 14px;
  font-family: "Akkurat-Reguler";
  color: #888888;
}

.link-class {
  font-family: "Akkurat-Reguler";
  font-size: 18px;
  color: #3d76ce;
}
